* {
    font-family: Noto Sans, Arial;
    box-sizing: border-box;
    margin: 0;
    color:#282A29;
}

body {
    background-color: #FAEFE0;
}

img {
    height: 60px;
}

p {
    color:#282A29;
}

/*****************************************/
/*****************NAV BAR*****************/
/*****************************************/

nav {
    display: flex;
    padding: 15px 0;
    align-items: center;
    border-bottom: 3px solid #282A29;
}

#websiteLogo {
    height: 50px;
    margin-left: 40px;
}


nav a {
    text-decoration: none;
    color: #282A29;
    font-weight: 800;
    font-size: 1.4rem;
    margin-left: 70px;
}


@media (min-width: 600px) and (max-width: 991px) {
    nav a {
        font-size: 24px;
        margin-left: 20px;
    }

    #websiteLogo {
        margin-left: 20px;
    }
}


/*****************************************/
/*****************MAIN********************/
/*****************************************/
.htmlContainer {
    font-weight: 500;
    padding: 10px 0 0 10px;
}


.mainSection {
    display: flex;
    justify-content: center;
}

.mainText {
    width: 60%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.rightSide {
    padding-right: 10%;
}

.mainImage {
    height: 100%
}

h2 {
    font-size: 4rem;
}

.mainSubtext {
    font-size: 2rem;
    width: 400px;
    padding-bottom: 8%;
}

button {
    width: 50%;
    padding: 2%;
    background-color:#FAEFE0;
    border: 4px solid #282A29;
}

.abtMeBtn {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    padding: 2%;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.skillset {
    width: 100%;
    background-color: #282A29;
}