* {
    font-family: Noto Sans, Arial;
    box-sizing: border-box;
    margin: 0;
    color:#282A29;
}

body {
    background-color: #FAEFE0;
}

img {
    height: 60px;
}

p {
    color:#282A29;
}

/*****************************************/
/*****************NAV BAR*****************/
/*****************************************/

nav {
    display: flex;
    padding: 15px 0;
    align-items: center;
    border-bottom: 3px solid #282A29;
}

#websiteLogo {
    height: 50px;
    margin-left: 40px;
}


nav a {
    text-decoration: none;
    color: #282A29;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 70px;
}


@media (max-width: 991px) {
    nav a {
        font-size: 24px;
        margin-left: 20px;
    }

    #websiteLogo {
        margin-left: 20px;
    }
}


/*****************************************/
/*****************MAIN********************/
/*****************************************/
.htmlContainer {
    font-weight: 500;
    padding: 10px 0 0 10px;
}


.mainSection {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.mainText {
    width: 60%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.rightSide {
    padding-right: 10%;
}

.mainImage {
    height: 400px
}

h2 {
    font-size: 4rem;
}

.mainSubtext {
    font-size: 2rem;
    width: 400px;
    padding-bottom: 8%;
    font-weight: 600;
}

button {
    width: 50%;
    padding: 2%;
    background-color:#FAEFE0;
    border: 4px solid #282A29;
}

.abtMeBtn {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    padding: 2%;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {

}


/*****************************************/
/*****************SKILLS******************/
/*****************************************/
.skillset {
    width: 100%;
    background-color: #282A29;
    padding: 30px 0 50px 0;
    text-align: center;
}

h3 {
    color:#FAEFE0;
    padding-bottom: 30px;
    font-size: 46px;
}

.skillImages img {
    height: 100px;
    padding: 0 10px;
}

.htmll {
    position: relative;
    display: inline-block;
    text-align: center;

}
.htmll .imgDescriptor {
    font-size: 16px;
    background-color:#FAEFE0;
    color:#282A29;
    position: absolute;
    text-align: center;
    left: 25px;
    border-radius: 35px;
    padding: 5px;
    box-shadow: 1px 1px 5px #282A29;
    font-family: Noto Sans;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.htmll:hover .imgDescriptor {
    opacity: 1;
}

#cs3imgDescriptor {
    left: 35px;
}


/*****************************************/
/***************ABOUT ME******************/
/*****************************************/

#aboutMe {
    display: flex;
    justify-content: center;
    padding: 40px 0 60px 0;
}

.leftSideImg {
    width: 40%;
    position: relative;
}

.imageCode {
    position: absolute;
}

.information {
    width: 30%;
}

.abtMeHeader {
    color:#282A29;
    font-size: 4rem;
    line-height: 60px;
}

.aboutmeImg {
    height: 400px;
}

/*****************************************/
/***************PROJECTS******************/
/*****************************************/

#projects {
    background-color: #282A29;
    text-align: center;
    padding: 30px 0 50px 0;
}

.projectsHeader {
    font-size: 4rem;
}

.projectOverview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleProject {
    border: 2px solid #FAEFE0;
    margin-right: 20px;
    padding: 15px;
    width: 30%;
}

h5, .projectDescription, .projectUsed {
    color:#FAEFE0;
}

h5 {
    font-size: 36px;
    border-bottom: 2px solid #FAEFE0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.linkTo {
    height: 30px;
    margin-top: 20px;
}

.projectImg {
    height: 200px;
}

.projectUsed {
    font-weight: 700;
    font-size: 22px;
    padding-top: 8px;
}

.projectHTML, .projectCSS {
    max-height: 60px;
}

.projectSkills {
    display: flex;
    justify-content: center;
}

.singularSkills {
    position: relative;
}

.skillDescriptor {
    background-color: #FAEFE0;
    color:#282A29;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.singularSkills:hover .skillDescriptor {
    opacity: 1;
}

/*****************************************/
/*************CONTACT ME******************/
/*****************************************/
#contact {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

h4 {
    font-size: 4rem;
}

#contact > p {
    font-size: 1.5rem;
    width: 30%;
    margin-bottom: 40px;
}

.contactOverview {
    border: 2px solid #282A29;
    padding: 10px 200px;
}

.contactOverviewText {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.contactimages img {
    height: 80px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.endHtmlContainer {
    font-weight: 500;
    padding: 10px 0 10px 10px;
}

/*****************************************/
/******************END********************/
/*****************************************/
.end {
    background-color: #282A29;
    text-align: center;
    padding: 16px 0 8px 0;
}

.end p {
    color:#FAEFE0;
}